/* header */
header {
    background-color: #fff;
    /* position: fixed; */
    width: 100%;
    z-index: 100;
}

header .header_main .inner {
    padding: 44px 0px 22px 0;
}

header .header_main .headerLeft {
    padding-top: 3px;
}

header .header_main .headerLeft .logo_link {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    margin-left: 50px;
}


header .header_main .headerLeft .logo_link p {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #000;
    font-size: 50px;
    letter-spacing: 2.4px;
    line-height: 1;

}

header .header_main .headerLeft .logo_link span {
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    letter-spacing: 1.6px;
    line-height: 1;
    margin-top: 5px;
    display: block;
    margin-left: 9px;
    font-weight: 400;

}

header .header_main .headerright {
    padding-right: 2px;
}

header .header_main .headerright .menuIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

header .header_main .headerright .menuIcon p {
    color: rgba(29, 29, 29, 1);
    text-transform: uppercase;
    /* line-height: 1.4; */
    letter-spacing: 0.05em;
    font-size: 14px;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 500;
    margin-top: 9px;
    font-style: normal;
}

/* navigation */
.navigation {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 73px;
    max-width: 320px;
    width: 100%;
    max-height: 430px;
    height: 100%;
    background-color: #dae8f0;
}

.navigation .inner {
    padding: 18px 16px;
}

.navigation .inner .closeBtn {
    text-align: right;
}

.navigation .inner .closeBtn span {
    cursor: pointer;
}

.navigation .inner nav {
    margin-top: 27px;
    margin-left: 18px;
}

.navigation .inner nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 4px;
}

.navigation .inner nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 12px;
    letter-spacing: 1.3px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.navigation .inner .header_social_Icon {
    display: flex;
    align-items: center;
    padding-left: 52px;
    margin-top: 62px;
    gap: 16px;
}

/* homeSec1 */

.homeSec1 {
    padding: 183px 0 45px 0;
}

.homeSec1 .custom_container {
    max-width: 1190px;
    width: 100%;
    margin: auto;
    padding: 0 13px;
}

.homeSec1 .custom_container .inner {
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    gap: 5.8%;
}

.homeSec1 .custom_container .inner .right {
    width: 50%;
}

.homeSec1 .custom_container .inner .left {
    width: 43%;
    padding-left: 13px;
}

.homeSec1 .custom_container .inner .left img {
    width: 100%;
}

.homeSec1 .custom_container .inner .right .main_right {
    background-color: #dae8f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 15px 40px 15px;
}

.homeSec1 .custom_container .inner .right .main_right mark {
    background-color: #eeeeee;
    /* display: inline-flex; */
    padding: 3px 5px;
    text-align: center;
    line-height: 1.6;


}

.homeSec1 .custom_container .inner .right .main_right h1 {
    color: rgba(29, 29, 29, 1);
    text-transform: uppercase;
    letter-spacing: 2.1px;
    font-size: 24px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: normal;
}

.homeSec1 .custom_container .inner .right .main_right p {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-top: 20px;
    font-weight: 300;
    letter-spacing: .3px;
    margin-bottom: 46px;
}

.forBtns {
    background-color: #c1cfd6;
    display: block;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    letter-spacing: 1.4px;
    color: #000;
    width: 217px;
    margin: auto;
    text-align: center;
    padding: 8px 0;
    text-transform: uppercase;
}

.homeSec1 .custom_container .homeSec1Lower {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    gap: 90px;
}

.homeSec1 .custom_container .homeSec1Lower .mainInner.fortheBorder {
    border-right: 1px solid #898f98;
    border-left: 1px solid #898f98;
    padding: 0 112px;
}

.homeSec1 .custom_container .homeSec1Lower .mainInner {
    text-align: center;
}

.homeSec1 .custom_container .homeSec1Lower .mainInner h1 {
    font-size: 11px;
    font-weight: 500;
    color: #2f2f2f;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 5px;
}

.homeSec1 .custom_container .homeSec1Lower .mainInner a {
    color: rgba(29, 29, 29, 1);
    text-transform: uppercase;
    line-height: 1.4;
    letter-spacing: 0.05em;
    font-size: 25px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    margin: 0;
}

.homeSec1 .custom_container .homeSec1Lower .mainInner p {
    color: rgba(137, 143, 152, 1);
    line-height: 1.4;
    letter-spacing: 0.05em;
    font-size: 14px;
    text-align: center;
    font-family: 'Baskervville';
    font-weight: 400;
    font-style: italic;
}

/* homeSec2 */

.homeSec2 .sec2Main .sec2top {
    background-image: url('../images/homeSec2Img1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.homeSec2 .sec2Main .sec2top img {
    opacity: 0;
    width: 100%;
    height: 700px;
}

.homeSec2 .sec2Main .secloewer {
    background-color: #dae8f0;
    text-align: center;
    padding: 45px 13px;
}

.homeSec2 .sec2Main .secloewer h1 {
    font-size: 25px;
    font-weight: 500;
    color: #000;
    font-family: 'Montserrat', sans-serif;
}

.homeSec2 .sec2Main .secloewer p {
    color: rgba(137, 143, 152, 1);
    line-height: 1.4;
    letter-spacing: 0.05em;
    font-size: 14px;
    text-align: center;
    font-family: 'Baskervville';
    font-weight: 400;
    font-style: italic;
}


/* .homeSec3 */
.homeSec3 {
    padding: 45px 0;
}

.homeSec3 .sec3_container {
    max-width: 1028px;
    width: 100%;
    margin: auto;
    padding: 0 13px;
}

.homeSec3 .sec3_container .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 90px;
}

.homeSec3 .sec3_container .inner .content .mainImg {
    width: 100%;
    /* height: 413px; */
    /* object-fit: cover; */
}

.homeSec3 .sec3_container .inner .content .innerContnet {
    padding-top: 30px;
}

.homeSec3 .sec3_container .inner .content .innerContnet h3 {
    color: rgba(137, 143, 152, 1);
    line-height: 1.4;
    letter-spacing: 0.05em;
    font-size: 14px;
    text-align: center;
    font-family: 'Baskervville', serif;
    font-weight: 400;
    font-style: italic;
}

.homeSec3 .sec3_container .inner .content .innerContnet p {
    color: rgba(29, 29, 29, 1);
    letter-spacing: 0.02em;
    font-size: 14px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-style: normal;
    /* margin: 0; */
}

.homeSec3 .sec3_container .inner .content .innerContnet a {
    color: rgba(47, 47, 47, 1);
    text-transform: uppercase;
    letter-spacing: 0.14em;
    font-size: 11px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* .homeSec4 */
.homeSec4 {
    padding: 90px 0 60px 0;
    background-color: #dae8f0;
}

.homeSec4 .sec4_container {
    max-width: 1028px;
    width: 100%;
    margin: auto;
    padding: 0 13px;
    text-align: center;
}

.homeSec4 .sec4_container .inner {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 150px;
}

.homeSec4 .sec4_container .inner .innerImg {

    border-radius: 60%;
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.homeSec4 .sec4_container .inner p {
    margin-top: 15px;
}

.homeSec4 .sec4_container .inner p,
.homeSec4 .sec4_container .inner h2 {
    color: rgba(29, 29, 29, 1);
    line-height: 1.8;
    letter-spacing: 0.05em;
    font-size: 13px;
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: normal;

}

.homeSec4 .sec4_container a {
    text-align: center;
    width: 100px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
}

.homeSec5 .sec5inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


/* .homeSec6 */
.homeSec6 {
    position: relative;
}

.homeSec6 .forImg img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.homeSec6 .sec6Content {
    position: absolute;

    background-color: rgba(47, 47, 47, .4);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.homeSec6 .sec6Content .innerContetn {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.homeSec6 .sec6Content .innerContetn h1 {
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

footer {
    padding: 90px 0 30px 0;
}

footer .footer_container {
    max-width: 997px;
    width: 100%;
    margin: auto;
    padding: 0 13px;
}

footer .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 90px;
}

footer .inner .footerContent .footerImgs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

footer .inner .footerContent .footerImgs .img {
    width: 100px;
    height: 100px;
}

footer .inner .footerContent .footerImgs .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer .inner .footerContent h1 {
    color: rgba(29, 29, 29, 1);
    text-transform: uppercase;
    line-height: 1.4;
    letter-spacing: 0.05em;
    font-size: 22px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: normal;
}

footer .inner .footerContent p {
    color: rgba(47, 47, 47, 1);
    text-transform: uppercase;
    line-height: 1.8;
    letter-spacing: 0.14em;
    font-size: 11px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: normal;
}

/* .footer_lower */
.footer_lower {
    padding: 20px 0;
}





.footer_lower .lowerInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_lower .lowerInner .lowerContetn span,
.footer_lower .lowerInner .lowerContetn a {
    color: rgba(47, 47, 47, 1);
    text-transform: uppercase;
    line-height: 1.8;
    letter-spacing: 0.14em;
    font-size: 11px;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
}

.footer_lower .lowerInner .lowerContetn .lowerIcons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.footer_lower .lowerInner .lowerContetn .lowerIcons img {
    width: 25px;
}


/* aboutSec1 */
.aboutSec1 {
    padding: 24px 0;
}

.aboutSec1 .about1_container {
    max-width: 1125px;
    width: 100%;
    margin: auto;
    padding: 0 13px;
}

.aboutSec1 .about1_container .about1_inner {
    display: flex;
    justify-content: center;
    gap: 45px
}

.aboutSec1 .about1_container .about1_inner .sec1_left {
    width: 57%;
}

.aboutSec1 .about1_container .about1_inner .sec1_left .leftmain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 57px 40px 0 44px;
}

.aboutSec1 .about1_container .about1_inner .sec1_left .leftmain .title1 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #000;
    font-size: 25px;
    letter-spacing: 1.2px;
    line-height: 1;
}

.aboutSec1 .about1_container .about1_inner .sec1_left .leftmain .title2 {
    font-family: 'Baskervville';
    margin-top: 38px;
    font-size: 14px;
    font-style: italic;
    letter-spacing: .7px;
    color: rgba(137, 143, 152, 1);
}

.aboutSec1 .about1_container .about1_inner .sec1_left .leftmain .title3 {
    margin-top: 42px;
    font-size: 11.9px;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
}

.aboutSec1 .about1_container .about1_inner .sec1_left .leftmain p {
    margin-top: 33px;
    font-size: 12px;
    letter-spacing: .84px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.9;
}

.aboutSec1 .about1_container .about1_inner .sec1_left .leftmain p.aboutSec1para {
    margin-top: 10px;
    letter-spacing: .8px;
}

.aboutSec1 .about1_container .about1_inner .sec1_left .leftmain .fp {
    margin-top: 55px;
}

.aboutSec1 .about1_container .about1_inner .sec1_right {
    width: 46.4%;
    /* padding-lseft: 56px; */
}

.aboutSec1 .about1_container .about1_inner .sec1_right .rightImg img {
    width: 100%;
}

.aboutSec3 {
    padding: 90px 0;
}

.aboutSec3 h1 {
    font-size: 26px;
    letter-spacing: 1px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    margin-bottom: 90px;
}

.aboutSec3 .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-collapse: collapse;
    padding: 0 75px;
}

.aboutSec3 .grid-container .item {
    border: 1px solid #0303036e;
    padding: 45px 20px;
    text-align: center;
}

.aboutSec3 .grid-container .item span {
    font-family: 'Baskervville';
    font-size: 14px;
    font-style: italic;
    letter-spacing: .7px;
    color: rgba(137, 143, 152, 1);
    margin-bottom: 5px;
    display: block;
}

.aboutSec3 .grid-container .item h4 {
    color: rgba(47, 47, 47, 1);
    text-transform: uppercase;
    line-height: 1.8;
    letter-spacing: 0.14em;
    font-size: 11px;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 500;
    font-style: normal;
}


/* aboutSec2 */
.aboutSec2 {
    padding: 45px 0;
    background-color: #eaf4f8;
}

.aboutSec2 .aboutsec2_container {
    padding: 0 14px;
    max-width: 1140px;
    width: 100%;
    margin: auto;
}

.aboutSec2 h1.aboutTitle {
    font-size: 26px;
    letter-spacing: 1px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
}

.aboutSec2 .aboutSlider {
    padding: 45px 0 0 0;
    display: flex;
    gap: 67px;
}

.aboutSec2 .aboutSlider .about2Left {
    width: 43%;
}

.aboutSec2 .aboutSlider .about2Left img {
    width: 100%;
}

.aboutSec2 .aboutSlider .about2Right {
    width: 51.2%;
    background-color: rgba(218, 232, 240, 1);
    padding: 30px 45px;
}

.aboutSec2 .aboutSlider .about2Right h1.rightTitle {
    font-size: 26px;
    letter-spacing: 1px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
}

.aboutSec2 button.slick-prev {
    display: none !important;
}

.aboutSec2 .aboutSlider .about2Right p {
    font-size: 11px;
    letter-spacing: .84px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.9;
    text-align: center;
}

.aboutSec2 .forNextpre.slick-arrow {
    position: absolute;
    bottom: -70px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

/* sericeSec1 */
.sericeSec1 {
    padding: 35px 0;
}

.sericeSec1 h1 {
    font-size: 26px;
    letter-spacing: .73px;
    padding: 0;
    padding: 3px 5px;
    text-align: center;
    line-height: 1.8;
    font-family: 'Montserrat', sans-serif;
}

.sericeSec1 p {
    color: rgba(29, 29, 29, 1);
    line-height: 1.8;
    letter-spacing: 0.05em;
    font-size: 13px;
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: normal;
    margin-top: 20px;
}

/* .servicesSec2 */
.servicesSec2 .servSecOuter.Secsection1 {
    background-color: rgba(218, 232, 240, 1);
    padding: 45px 0;
}

.servicesSec2 .servSecOuter .SerContaienr {
    max-width: 800px;
    width: 100%;
    padding: 0 15px;
    margin: auto;
}

.servicesSec2 .servSecOuter .SerContaienr .secInner {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.servicesSec2 .servSecOuter .SerContaienr .secInner .serLeft {
    width: 37.3%;
}

.servicesSec2 .servSecOuter .SerContaienr .secInner .serLeft .img img {
    width: 100%;
}

.servicesSec2 .servSecOuter .SerContaienr .secInner .seriRght {
    width: 60%;
}

.servicesSec2 .servSecOuter .SerContaienr .secInner .seriRght .rightCon {
    padding-left: 20px;
}

.servicesSec2 .servSecOuter .SerContaienr .secInner .seriRght .rightCon h1 {
    color: rgba(137, 143, 152, 1);
    line-height: 1.4;
    letter-spacing: 0.05em;
    font-size: 14px;
    text-align: center;
    font-family: 'Baskervville', serif;
    font-weight: 400;
    font-style: italic;
}

.servicesSec2 .servSecOuter .SerContaienr .secInner .seriRght .rightCon p {
    color: rgb(0, 0, 0);
    letter-spacing: 0.02em;
    font-size: 14px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-style: normal;
}

.servicesSec2 .servSecOuter .SerContaienr .secInner .seriRght .rightCon a {
    color: rgba(47, 47, 47, 1);
    text-transform: uppercase;
    letter-spacing: 0.14em;
    font-size: 11px;
    text-align: center;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* sevSec3 */
.sevSec3 {
    background-color: rgba(218, 232, 240, 1);
    padding: 70px 0;
}

.sevSec3 .sec3Inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 120px;
    padding-top: 30px;
}

.sevSec3 h1.sectitle {
    font-size: 26px;
    letter-spacing: .73px;
    font-weight: 600;
    text-align: center;
    line-height: 1.8;
    font-family: 'Montserrat', sans-serif;
}

.sevSec3 .sec3Inner .Sec3Main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sevSec3 .sec3Inner .Sec3Main .content {
    margin-top: 30px;
}

.sevSec3 .sec3Inner .Sec3Main h1 {
    color: rgba(137, 143, 152, 1);
    line-height: 1.4;
    letter-spacing: 0.05em;
    font-size: 14px;
    text-align: center;
    font-family: 'Baskervville', serif;
    font-weight: 400;
    font-style: italic;
}

.sevSec3 .sec3Inner .Sec3Main p {
    color: rgb(0, 0, 0);
    letter-spacing: 0.02em;
    font-size: 14px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-style: normal;
}

/* serviceSec4 */
.serviceSec4 .inner {
    position: relative;
}

.serviceSec4 .inner .img img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

.serviceSec4 .inner .serSec4Cont {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.serviceSec4 .inner .serSec4Cont .contentInner {
    max-width: 562px;
    width: 100%;
    background-color: #fff;
    padding: 30px;
}

.serviceSec4 .inner .serSec4Cont .contentInner h1 {
    font-size: 26px;
    letter-spacing: .73px;
    font-weight: 500;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.serviceSec4 .inner .serSec4Cont .contentInner p {
    color: rgba(137, 143, 152, 1);
    line-height: 1.4;
    letter-spacing: 0.05em;
    font-size: 18px;
    text-align: center;
    font-family: 'Baskervville', serif;
    font-weight: 400;
    font-style: italic;
    margin-top: 30px;
    margin-bottom: 30px;
}

.contact_sec {
    padding: 62px 0;
    background-color: rgba(218, 232, 240, 1);
}

.contact_sec .contact_container {
    max-width: 1020px;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 0 14px;
}

.contact_sec .contact_container .inner_cont {
    display: flex;
    gap: 40px;
    justify-content: center;
    /* align-items: center */
}

.contact_sec .contact_container .inner_cont .leftCon {
    width: 41.7%;
}

.contact_sec .contact_container .inner_cont .leftCon img {
    width: 100%;
}

.contact_sec .contact_container .inner_cont .leftRight {
    width: 54%;
}

.contact_sec .contact_container .inner_cont .leftRight .contSec {
    display: flex;
    flex-direction: column;
    padding-left: 27.5px;
    margin-top: 24px;
}

.contact_sec .contact_container .inner_cont .leftRight .contSec h1 {
    color: rgba(29, 29, 29, 1);
    text-transform: uppercase;
    line-height: 1.4;
    letter-spacing: 0.05em;
    font-size: 25px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: normal;
}

.contact_sec .contact_container .inner_cont .leftRight .contSec p {
    color: rgb(47, 47, 47);
    line-height: 1.8;
    font-size: 12.4px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: .6px;
    margin-top: 25px;
}

.contact_sec .contact_container .inner_cont .leftRight .contSec .contect_form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 33px;
}

.contact_sec .contact_container .inner_cont .leftRight .contSec .contect_form :is(input, textarea) {
    width: 65%;
    margin: auto;
    outline: none;
    background-color: #878f98;
    border: none;
    text-align: center;
    padding: 6px 10px;
    resize: none;
}

.contact_sec .contact_container .inner_cont .leftRight .contSec .contect_form :is(input, textarea)::placeholder {
    color: #757575;
    font-size: 14px;
}


/* schedule_section */
.schedule_section {
    padding: 62px 0;
}

.schedule_section .sch_container {
    max-width: 1019px;
    width: 100%;
    margin: auto;
    padding: 0 14px;
}

.schedule_section .sch_container .inner {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 30px;
}

.schedule_section .sch_container .inner .sche_left {
    width: 41.74%;
}

.schedule_section .sch_container .inner .sche_left img {
    width: 100%;
    height: 576px;
    object-fit: cover;
}

.schedule_section .sch_container .inner .sche_right {
    width: 54%;

}

.schedule_section .sch_container .inner .sche_right .innerCon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 25px;
    padding-left: 33px;
}

.schedule_section .sch_container .inner .sche_right .innerCon h1 {
    color: rgba(29, 29, 29, 1);
    text-transform: uppercase;
    line-height: 1.4;
    letter-spacing: 0.05em;
    font-size: 22px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: normal;
}

.schedule_section .sch_container .inner .sche_right .innerCon p {
    color: rgb(47, 47, 47);
    line-height: 2;
    font-size: 13px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-style: normal;
}

/* .scheduleSec2 */
.scheduleSec2 {
    padding: 45px 14px;
    background-color: rgb(189 207 214);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.scheduleSec2 h1 {
    color: rgba(29, 29, 29, 1);
    text-transform: uppercase;
    line-height: 1.4;
    letter-spacing: 0.05em;
    font-size: 26px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: normal;
}

.scheduleSec2 p {
    color: rgba(137, 143, 152, 1);
    line-height: 1.4;
    letter-spacing: 0.05em;
    font-size: 17px;
    text-align: center;
    font-family: 'Baskervville';
    font-weight: 400;
    font-style: italic;
}


/* blogSec1 */
.blogSec1 {
    padding: 64px 0;
    background-color: rgba(218, 232, 240, 1);
    margin-top: 44px;
}

.blogSec1 .inner {
    padding: 0 52px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.blogSec1 .inner .blogLeft {
    width: 47.2%;
}

.blogSec1 .inner .blogLeft a {
    display: block;
}

.blogSec1 .inner .blogLeft a img {
    width: 100%;
}

.blogSec1 .inner .blogRight {
    width: 50.8%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.blogSec1 .inner .blogRight a {
    text-decoration: none;
    background-color: #eeeeee;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    font-size: 14px;
    width: 130px;
    margin: auto;
    padding: 8px 0;
    color: #000;
}

/* blogSec2 */
.blogSec2 {
    padding: 45px 0;
}

.blogSec2 .blog_container {
    max-width: 1128px;
    width: 100%;
    padding: 0 14px;
    margin: auto;
}

.blogSec2 .blog_container .inner {
    display: flex;
    /* justify-content: center; */

}

.blogSec2 .blog_container .inner .blog_post {
    width: 73.5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
}

.blogSec2 .blog_container .inner .blog_post h3 {
    color: rgba(137, 143, 152, 1);
    margin: 15px 0 0 0;
    line-height: 1.4;
    letter-spacing: 0.05em;
    font-size: 17px;
    text-align: center;
    font-family: 'Baskervville', serif;
    font-weight: 400;
    font-style: italic;
}

.blogSec2 .blog_container .inner .blog_post a {
    color: rgba(47, 47, 47, 1);
    text-transform: uppercase;
    line-height: 1.8;
    letter-spacing: 0.14em;
    font-size: 11px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-decoration: none;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
}

.blogSec2 .blog_container .inner .blog_post .bloList img {
    width: 100%;
    height: 215px;
    object-fit: cover;
}

.blogSec2 .blog_container .inner .side_bar {
    height: 20%;
}

.blogSec2 .blogListBtn {
    padding: 15px 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(208, 228, 240);
}

.blogSec2 .blogListBtn a {
    color: rgba(47, 47, 47, 1);
    text-transform: uppercase;
    line-height: 1.8;
    letter-spacing: 0.14em;
    font-size: 11px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;

}